body{
margin:0;
font-family:Arial;
background:#0a1f44;
color:#d4af37;
text-align:center;
}

.container{
padding:50px 20px;
}

.section{
margin:60px 0;
opacity:0;
transform:translateY(50px);
transition:all 1s ease;
}

.section.show{
opacity:1;
transform:translateY(0);
}

.subtitle{
color:white;
font-size:18px;
}

.fitur{
background:white;
color:#0a1f44;
padding:15px;
margin:15px auto;
max-width:400px;
border-radius:10px;
font-weight:bold;
}

.foto{
width:90%;
max-width:400px;
border-radius:15px;
box-shadow:0 10px 30px rgba(0,0,0,0.4);
}
